/* LoginPage.css */
.login-container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .input-container {
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: center;
    margin:25px 50px;
  }
  
  input {
    /* width: 100%; */
    width: 35vw;
    padding-left: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #dee3e7;
    height: 3.5rem;
  }

  input::placeholder{
    color: #7C838A;
  }
  
  .login-button {
    width: 30%;
    padding: 10px;
    background-color: #F9ED32;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #b30080;
  }

  .loginLabel {
    color: #7C838A; 
    font-weight: 500;
    font-size: 1.1rem;
  }